# Environment variables
!.env_ldap
.env_ldap.bak


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.docx
*.log

# Virtual environments
venv/
env/
ENV/
.venv/

# Generated schedule files
schedule_*.docx

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Documentation - ignore all .md files except README.md
*.md
!README.md

# CSV files - ignore all except specific file
*.csv
!Группа_рассылки_Динамическая_группа_рассылки.csv

*.py
!sync_dd_from_file.py

# Requirements file
!requirements_ldap.txt
